* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alamy.com%2Fstock-photo-restaurant-menu-blackboard-background-with-retro-ribbon-and-border-147124045.html&psig=AOvVaw2k_Nd8Q0nUCm6WAqU3gcmS&ust=1689794545969000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCKi617f9mIADFQAAAAAdAAAAABAl');
}
h1{
    padding: 20px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    /* background: rgb(240, 194, 240); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}
.navigation a {
    position:relative;
    font-size: 1.1em;
    color: black;
    text-decoration: dashed;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: black;
    border-radius: 1px;
}
.naigation .buttonLogin-popup {
    width: 50px;
    height: 20px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0%;
    color: aliceblue;
    font-weight: 300px;
    margin-left: 10px;
}
#latest-menu img{
    border-radius: 50px;
    margin: 10px 0;
}
#latest-menu li{
    margin: 10px 0;
}
#food{
    font-size: 20px;
}
#order{
    font-size: 20px;
}
#navigation{
    display: inline-flex;
}
#navigation li {
    margin: 15px;
}
#navigation ul{
    display: inline-flex;
    margin-left: 1100px;
}
#container{
    display: inline-flex;
}
#footer{
    height: 20vh;
    text-align: center;
}
#footer form, #footer1{
    font-size: 25px;
}